---
layout: none
---

@import 'constants';
@import url('fonts.css');

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: $DESKTOP-MIN-WIDTH;
  background-color: $BACKGROUND-COLOR;
  border: 1px $TEXT-COLOR solid;

  font: bold $TEXT-SIZE $FONT-SANS;
  color: $TEXT-COLOR;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

s {
  text-decoration: line-through;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: color $TRANSITION-PERIOD linear;
  font-size: inherit;

  color: $LINK-COLOR;

  &:visited {
    color: $LINK-COLOR-VISITED;
  }

  &:hover {
    color: $LINK-COLOR-HOVER;
  }
}

.preload-project-diagram-images {
  width: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  background: url({{ site.baseurl }}/media/images/project-diagram/diagram_processar.png),
              url({{ site.baseurl }}/media/images/project-diagram/diagram_armazenar.png),
              url({{ site.baseurl }}/media/images/project-diagram/diagram_captar.png),
              url({{ site.baseurl }}/media/images/project-diagram/diagram.png);
}

.header {
  .site-title {
    width: 100%;
    padding: 16px;
    text-align: center;
    font-size: $TITLE-SIZE;
    color: $TEXT-HIGHLIGHT-COLOR;
  }

  .menu {
    display: flex;
    flex-direction: row;

    .menu-option {
      padding: 8px 16px;
      border: 1px $TEXT-COLOR solid;
      width: 33.3333%;
      text-align: center;
      cursor: pointer;
      border-top-right-radius: 2px;
      border-top-left-radius: 2px;

      &.selected {
        border-bottom: none;
        cursor: default;
      }
    }
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;

  .content {
    border: 1px $TEXT-COLOR solid;
    border-top: none;

    .content-tab {
      opacity: 0;
      overflow: hidden;
      transition: opacity $TRANSITION-PERIOD linear, height 5*$TRANSITION-PERIOD linear;
    }
  }
}

.content-proj {
  .flex-wrapper {
    display: flex;
    flex-direction: row;

    .proj-diagram-wrapper {
      width: 50%;
      max-width: 200px;

      .proj-diagram {
        padding-bottom: 350%;
        height: 100%;
        background-image: url({{ site.baseurl }}/media/images/project-diagram/diagram.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    .proj-content{
      width: 80%;

      .proj-stage {
        padding: 16px;

        .proj-stage-title-wrapper {
          margin-bottom: 7px;

          .proj-stage-title {
            display: inline;
            cursor: pointer;
            border-bottom: 4px $TEXT-HIGHLIGHT-COLOR solid;
          }
        }

        .proj-stage-text {
          overflow: hidden;
          height: 0;
          opacity: 0;
          transition: opacity $TRANSITION-PERIOD linear, height 5*$TRANSITION-PERIOD linear;
        }

        .proj-stage-subtext {
          padding: 10px;
          text-align: left;

          @include media-query(DESKTOP) {
            padding: 10px 38px;
            text-align: justify;
          }
        }
      }
    }
  }
}

.content-etap {
  .flex-wrapper {
    display: flex;
    flex-direction: row;

    .etap-diagram-wrapper {
      width: 50%;
      max-width: 100px;
      display: flex;
      justify-content: flex-end;

      .etap-diagram {
        padding-bottom: 350%;
        width: 16px;
        background-color: $TEXT-HIGHLIGHT-COLOR;
      }
    }

    .etap-stage {
      padding: 16px;
    }
  }
}

.content-refe {
  .refe-content {
    .refe-stage {
      padding: 16px;
    }
    .refe-stage + .refe-stage {
      padding: 8px 16px;
    }
  }
}

.stage-title {
  font-weight: bold;
  color: $TEXT-HIGHLIGHT-COLOR;
}

.stage-text {
  font: normal $SERIF-SIZE $FONT-SERIF;
  line-height: 1.333;
  text-align: left;

  @include media-query(DESKTOP) {
    text-align: justify;
  }
}

.social-footer {
  padding: 8px;
  font-size: $ICON-SIZE;
  text-align: center;
  a {
    color: $TEXT-HIGHLIGHT-COLOR;
    &:visited {
      color: $TEXT-HIGHLIGHT-COLOR;
    }
  }
}
