---
layout: none
---

@import 'constants';
@import url('fonts.css');

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: $DESKTOP-MIN-WIDTH;
  background-color: $BACKGROUND-COLOR;
  border: 1px $TEXT-COLOR solid;

  font: bold $TEXT-SIZE $FONT-SANS;
  color: $TEXT-COLOR;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

s {
  text-decoration: line-through;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: color $TRANSITION-PERIOD linear;
  font-size: $LINK-SIZE;
  color: $LINK-COLOR;
  font-weight: normal;
  text-decoration: underline;

  &:visited {
    color: $LINK-COLOR-VISITED;
  }

  &:hover {
    color: $LINK-COLOR-HOVER;
    color: $TEXT-COLOR;
    text-decoration: line-through;
  }
}

.preload-project-diagram-images {
  width: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  background: url({{ site.baseurl }}/media/images/project-diagram/diagram_processar.png),
              url({{ site.baseurl }}/media/images/project-diagram/diagram_armazenar.png),
              url({{ site.baseurl }}/media/images/project-diagram/diagram_captar.png),
              url({{ site.baseurl }}/media/images/project-diagram/diagram.png);
}

.header {
  .site-title {
    width: 100%;
    padding: 16px;
    text-align: center;
    font-size: $TITLE-SIZE;
    color: $TEXT-HIGHLIGHT-COLOR;
  }

  .menu {
    display: flex;
    flex-direction: row;

    .menu-option {
      padding: 8px 16px;
      border: 1px $TEXT-COLOR solid;
      width: 33.3333%;
      text-align: center;
      cursor: pointer;
      border-top-right-radius: 2px;
      border-top-left-radius: 2px;
      text-decoration: none;

      &.selected {
        border-bottom: none;
        cursor: default;
        &:hover {
          text-decoration: none;
        }
      }

      &:hover {
        text-decoration: line-through;
      }
    }
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;

  .content {
    border: 1px $TEXT-COLOR solid;
    border-top: none;

    .content-tab {
      opacity: 0;
      overflow: hidden;
      transition: opacity $TRANSITION-PERIOD linear, height 5*$TRANSITION-PERIOD linear;
    }
  }
}

.content-proj {
  .flex-wrapper {
    display: flex;
    flex-direction: row;

    .proj-diagram-wrapper {
      width: 50%;
      max-width: 200px;

      .proj-diagram {
        padding-bottom: 350%;
        height: 100%;
        background-image: url({{ site.baseurl }}/media/images/project-diagram/diagram.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    .proj-content{
      width: 80%;

      .proj-stage {
        padding: 16px;

        .proj-stage-title-wrapper {
          margin-bottom: 7px;

          .proj-stage-title {
            display: inline;
            cursor: pointer;
            border-bottom: 4px $TEXT-HIGHLIGHT-COLOR solid;
          }
        }

        .proj-stage-text {
          overflow: hidden;
          height: 0;
          opacity: 0;
          transition: opacity $TRANSITION-PERIOD linear, height 5*$TRANSITION-PERIOD linear;
        }

        .proj-stage-subtext {
          padding: 10px;
          text-align: left;

          @include media-query(DESKTOP) {
            padding: 10px 38px;
            text-align: justify;
          }
        }

        .proj-stage-subtext-title {
          display: inline;
          font-weight: bold;
          font-family: $FONT-SANS;
          color: $TEXT-HIGHLIGHT-COLOR;
        }
      }
    }
  }
}

.content-etap {
  .flex-wrapper {
    display: flex;
    flex-direction: row;

    .etap-diagram-wrapper {
      width: 50%;
      max-width: 100px;
      display: flex;
      justify-content: flex-end;

      .etap-diagram {
        padding-bottom: 350%;
        width: 16px;
        background-color: $TEXT-HIGHLIGHT-COLOR;
      }
    }

    .etap-stage {
      padding: 16px;
    }
  }
}

.content-refe {
  .refe-content {
    .refe-stage {
      padding: 2px 16px 24px;
    }

    .refe-stage + .refe-stage {
      padding: 20px 0 24px;
      width: 80%;
      margin: 0 auto;
      border-top: 2px $TEXT-COLOR solid;
    }

    .refe-stage-title {
      text-transform: uppercase;
      margin-bottom: 16px;

      a {
        font-size: $TEXT-SIZE;
        border-bottom: 4px $TEXT-HIGHLIGHT-COLOR solid;
        text-transform: uppercase;
        text-decoration: none;
        &:hover {
          color: inherit;
        }
      }
    }

    .refe-stage-image-text {
      width: 100%;
      display: flex;
      flex-direction: column;

      @include media-query(DESKTOP) {
        flex-direction: row;
      }

      .refe-stage-image {
        width: 100%;
        height: 1%;
        padding-bottom: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        border-radius: 3px;

        @include media-query(DESKTOP) {
          width: 20%;
          padding-bottom: 20%;
          background-position: left center;
        }
      }

      .refe-stage-text {
        width: 100%;
        padding-top: 16px;
        padding-left: 0;

        @include media-query(DESKTOP) {
          width: 80%;
          padding-top: 0;
          padding-left: 16px;
        }

        .refe-stage-text-link {
          vertical-align: super;
          font-size: 0.85 * $TEXT-SIZE;
        }
      }
    }
  }
}

.stage-title {
  font-weight: bold;
  color: $TEXT-HIGHLIGHT-COLOR;
}

.stage-text {
  font: normal $SERIF-SIZE $FONT-SERIF;
  line-height: 1.333;
  text-align: left;

  @include media-query(DESKTOP) {
    text-align: justify;
  }
}

.social-footer {
  padding: 8px;
  text-align: center;

  a {
    border-bottom: none;
    font-size: $ICON-SIZE;
    text-decoration: none;

    color: $TEXT-HIGHLIGHT-COLOR;
    &:visited {
      color: $TEXT-HIGHLIGHT-COLOR;
    }
  }
}
