<div class="content-tab content-etap">
  <div class="flex-wrapper">
    <div class="etap-diagram-wrapper">
      <div class="etap-diagram"></div>
    </div>

    <div class="etap-content">

      <div class="etap-stage">
        <div class="etap-stage-title stage-title">ETAPA 1</div>
        <div class="etap-stage-text stage-text">
          Desenvolvimento das tecnologias e metodologias descritas anteriormente. Experimentação com antenas feitas de metais, minerais, cristais, plantas e outros corpos. Experimentação com sistemas de visualização de dados e algoritmos de Machine Learning.
        </div>
        {% include swipebox.html prefix="step01_" subclass="larger-thumbnail"%}
      </div>

      <div class="etap-stage">
        <div class="etap-stage-title stage-title">ETAPA 2</div>
        <div class="etap-stage-text stage-text">
          Captação de sinais em áreas rurais e urbanas usando as antenas e sistemas criados durante a primeira etapa do projeto. Também serão usadas antenas criadas durante oficinas educacionais ministrada nos locais de captação. Locais na cidade de São Paulo serão escolhidos baseado em fatores socioeconômicos para incluir os bairros mais ricos e mais pobres da cidade. Áreas rurais serão visitadas para ter melhor acesso a sinais provenientes de corpos espaciais como satélites e estrelas.
        </div>
        {% include swipebox.html prefix="step02_" subclass="larger-thumbnail"%}
      </div>

      <div class="etap-stage">
        <div class="etap-stage-title stage-title">ETAPA 3</div>
        <div class="etap-stage-text stage-text">
          Criação de documentos pertinentes à cartografia explorada nas últimas etapas. Essa etapa prevê a criação de materiais impressos, expositivos e digitais para divulgar e compartilhar as visualizações, metodologias e dados do projeto. Isso acontecerá através de uma publicação impressa, participação em exposições e uma plataforma online.
        </div>
      </div>
    </div>
  </div>
</div>
