<div class="content-tab content-proj">
  <div class="preload-project-diagram-images"></div>
  <div class="flex-wrapper">
    <div class="proj-diagram-wrapper">
      <div class="proj-diagram"></div>
    </div>

    <div class="proj-content">

      <div class="proj-stage">
        <div class="proj-stage-title stage-title"></div>
        <div class="proj-stage-text-intro stage-text">
          Esta é uma proposta para a criação de um laboratório de pesquisas de novas naturezas. Especificamente para o desenvolvimento de uma astronomia híbrida (natural + artificial) e uma cartografia eletromagnética.
          <br><br>
          O projeto consiste no desenvolvimento de tecnologias de captação, processamento e armazenamento de sinais/ondas/dados eletromagnéticos. Os resultados se materializarão em forma de: workshop, publicação, exposição e a construção de uma plataforma online para o compartilhamento de dados abertos sobre os sinais captados.
        </div>
      </div>

      <div class="proj-stage">
        <div class="proj-stage-title-wrapper">
          <div class="proj-stage-title stage-title">CAPTAR</div>
        </div>

        <div class="proj-stage-text-capt proj-stage-text stage-text">
          Criação e experimentação com antenas socionaturais. Essas são antenas construídas a partir de materiais naturais (plantas, cristais) e processados (metais, resinas), seus emaranhamentos e significações contemporâneas.

          <div class="proj-stage-subtext stage-text">
            <div class="proj-stage-subtext-title">Caracterização</div>: Após construídas as antenas precisam ser testadas para caracterizar suas propriedades físicas como: frequências de reverberação e sensitividade espacial.
          </div>
        </div>
      </div>

      <div class="proj-stage">
        <div class="proj-stage-title-wrapper">
          <div class="proj-stage-title stage-title">PROCESSAR</div>
        </div>

        <div class="proj-stage-text-proc proj-stage-text stage-text">
          Construção de sistemas para filtrar, organizar e tentar fazer sentido de dados provindo de múltiplas antenas e fatias do espectro eletromagnético. Técnicas e algoritmos de Machine Learning podem ser usadas para explorar padrões em tempo real e longo prazo.

          <div class="proj-stage-subtext stage-text">
            <div class="proj-stage-subtext-title">Visualização</div>: Sistemas para facilitar a leitura e análise desses sinais e seus eventuais padrões para explorar como podemos evitar o erro antropocêntrico de criar epistemologias usando somente os arbitrários sinais linguísticos humanos.
          </div>
        </div>
      </div>

      <div class="proj-stage">
        <div class="proj-stage-title-wrapper">
          <div class="proj-stage-title stage-title">ARMAZENAR</div>
        </div>

        <div class="proj-stage-text-arma proj-stage-text stage-text">
          Estratégias para o armazenamento e tagueamento de dados, e a programação de uma plataforma online com uma API para facilitar o acesso a esses dados.

          <div class="proj-stage-subtext stage-text">
            <div class="proj-stage-subtext-title">Compartilhamento</div>: Dados coletados poderão ser usados em análises que, por exemplo, cruzam dados econômicos sobre uma região com a presença de certos sinais eletromagnéticos.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
