<div class="content-tab content-proj">
  <div class="flex-wrapper">
    <div class="proj-diagram-wrapper">
      <div class="proj-diagram"></div>
    </div>

    <div class="proj-content">

      <div class="proj-stage">
        <div class="proj-stage-title stage-title">CAPTAR</div>
        <div class="proj-stage-text stage-text">
          Criação e experimentação com antenas socionaturais. Essas são antenas construídas a partir de materiais naturais (plantas, cristais) e processados (metais, resinas), seus emaranhamentos e significações contemporâneas.
        </div>
      </div>

      <div class="proj-stage">
        <div class="proj-stage-title stage-title">PROCESSAR</div>
        <div class="proj-stage-text stage-text">
          Construção de sistemas para filtrar, organizar e tentar fazer sentido de dados provindo de múltiplas antenas e fatias do espectro eletromagnético. Técnicas e algoritmos de Machine Learning podem ser usadas para explorar padrões em tempo real e longo prazo.
        </div>
      </div>

      <div class="proj-stage">
        <div class="proj-stage-title stage-title">ARMAZENAR</div>
        <div class="proj-stage-text stage-text">
          Estratégias para o armazenamento e tagueamento de dados, e a programação de uma plataforma online com uma API para facilitar o acesso a esses dados.
        </div>
      </div>

    </div>
  </div>
</div>
