<div class="content-tab content-refe">
  <div class="flex-wrapper">
    <div class="refe-diagram-wrapper">
      <div class="refe-diagram"></div>
    </div>

    <div class="refe-content">

      <div class="refe-stage">
        <div class="refe-stage-title stage-title"></div>
        <div class="refe-stage-text stage-text">
          A referência inicial desta pesquisa é o astrolábio, o antigo instrumento usado pelos astrônomos islâmicos desde 550 dC para medir tempo, localizações e distâncias. Os astrolábios erão ferramentas feitas de discos de metal, que às vezes eram grandes o suficiente para necessitar que duas pessoas as alinhassem às estrelas para tomar uma medição. Fora do mundo islâmico, este dispositivo de medição teve seu momento na história européia: foi imprescindível na divulgação e ensino da geometria islâmica durante a era do renascimento, e depois, durante a era dos impérios, foi fundamental nas expedições marítimas de "descobertas".
          <br><br>
          Vejo a pesquisa como uma possibilidade para o desenvolvimento de objetos e rituais para um novo tipo de astronomia que leva em conta satélites naturais e artificiais, e seus efeitos sobre corpos humanos, não-humanos e tecnológicos. O horizonte utópico desta pesquisa é uma ciência que trata a natureza não como recurso passivo, mas como parceira intersubjetiva no desenvolvimento da cultura.
          <br><br>
          Além das intra-ações de Karen Barad e os hiper-objetos de Timothy Morton esse projeto encontra ressonância nos trabalhos de Bruno Latour sobre redes e sistemas híbridos, Donna Haraway e seus saberes localizados, algumas das Cidades Invisíveis de Italo Calvino, na Geologia de Mídias de Shannon Mattern, no materialismo de Judith Butler, na trindade ontológica Humano-Natureza-Tecnologia de Gilbert Simondon, no Xenofeminismo de Laboria Cuboniks, nas ficções-científicas de Octavia Butler, Joanna Russ e Monique Wittig, e nos questionamentos onto-antropológicos de Viveiros de Castro, Philippe Descola e Marshall Sahlins.
          <br><br>
          Uma nova ciência é imprescindível se esperamos ter qualquer esperança em lidar com iminentes problemas ambientais, sociais e econômicos que transitam em discursos e redes de conhecimento cada vez mais híbridas e expansivas.
        </div>
      </div>

      <div class="refe-stage">
        <div class="refe-stage-title stage-title">REF 1</div>
        <div class="refe-stage-text stage-text">
          o_0
        </div>
      </div>

      <div class="refe-stage">
        <div class="refe-stage-title stage-title">REF 2</div>
        <div class="refe-stage-text stage-text">
          o_o
        </div>
      </div>

      <div class="refe-stage">
        <div class="refe-stage-title stage-title">REF 3</div>
        <div class="refe-stage-text stage-text">
          0_0
        </div>
      </div>

    </div>
  </div>
</div>
