<div class="content-tab content-refe">
  <div class="flex-wrapper">
    <div class="refe-diagram-wrapper">
      <div class="refe-diagram"></div>
    </div>

    <div class="refe-content">

      <div class="refe-stage">
        <div class="refe-stage-title stage-title">REF 1</div>
        <div class="refe-stage-text stage-text">
          Cri.
        </div>
      </div>

      <div class="refe-stage">
        <div class="refe-stage-title stage-title">REF 2</div>
        <div class="refe-stage-text stage-text">
          Con.
        </div>
      </div>

      <div class="refe-stage">
        <div class="refe-stage-title stage-title">REF 3</div>
        <div class="refe-stage-text stage-text">
          Est.
        </div>
      </div>

    </div>
  </div>
</div>
