$FONT-SANS: 'liberation-sans', 'Arial', sans-serif;
$FONT-SERIF: 'liberation-serif', 'Times';

$TITLE-SIZE: 24px;
$TEXT-SIZE: 14px;
$SERIF-SIZE: 16px;
$LINK-SIZE: 16px;
$ICON-SIZE: 24px;

$BACKGROUND-COLOR: #2c5271;
$TEXT-COLOR: #eeddff;
$TEXT-HIGHLIGHT-COLOR: #edf259;

$LINK-COLOR: $TEXT-HIGHLIGHT-COLOR;
$LINK-COLOR-VISITED: $LINK-COLOR;
$LINK-COLOR-HOVER: $LINK-COLOR;

$DESKTOP-MIN-WIDTH: 720px;

$TRANSITION-PERIOD: 0.1s;

@mixin media-query($canvas) {
  @if $canvas == DESKTOP {
   @media only screen and (min-width: $DESKTOP-MIN-WIDTH) { @content; }
  }
}
