<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body>
    <section class="header">
      <div class="site-title">
        {{ site.title }}
      </div>

      <div class="menu">
        <div class="menu-option selected">PROJETO</div>
        <div class="menu-option">ETAPAS</div>
        <div class="menu-option">REFERENCIAS</div>
      </div>
    </section>

    <div class="content-wrapper">
      <div class="home-loader-wrapper">
        <div id="home-loader" class="lds-dual-ring"></div>
      </div>

      <section class="content">
        {% include projeto.html %}
        {% include etapas.html %}
        {% include referencias.html %}
      </section>

      <section class="social-footer">
        {% include social-icons.html %}
      </section>
    </div>
  </body>
</html>
